{% extends 'blog/base.html' %}

{% block content %}
    <div class="post post-detail">
        <header class="post-header">
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="post-meta">
                <div class="date">
                    {% include 'blog/icons/calendar.svg' %}
                    {{ post.published_date|date:"F d, Y" }}
                </div>
                <div class="author">
                    {% include 'blog/icons/person.svg' %}
                    {{ post.author.username }}
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="post-actions">
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'post_edit' pk=post.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                        Edit
                    </a>
                </div>
            {% endif %}
        </header>
        
        <div class="post-content">
            {{ post.text|linebreaksbr }}
        </div>
        
        <footer class="post-footer">
            <div class="post-tags">
                <span class="tag">Django</span>
                <span class="tag">Python</span>
                <span class="tag">Web Development</span>
            </div>
            <div class="post-share">
                <span>Share:</span>
                <a href="#" class="social-icon">{% include './icons/facebook.svg' %}</a>
                <a href="#" class="social-icon">{% include './icons/twitter.svg' %}</a>
                <a href="#" class="social-icon">{% include './icons/linkedin.svg' %}</a>
            </div>
        </footer>
    </div>
    
    <div class="post-navigation">
        <a href="{% url 'post_list' %}" class="btn btn-outline-primary">
            {% include './icons/arrow-left.svg' %} Back to Posts
        </a>
    </div>
    
    <div class="comments-section">
        <h3>Comments</h3>
        <p>No comments yet. Be the first to share your thoughts!</p>
        
        <form class="comment-form mt-4">
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Write your comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
        </form>
    </div>
{% endblock %}